.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 1rem;
}

.logo {
    color: #254668;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-left: 8rem;
}
  
.nav-link {
    text-decoration: none;
    color: #254668;
    font-size: 1.3rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}
  
.nav-link:hover {
    color: rgb(41, 142, 210);
}
  
.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
}
  
.search-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    border: 0.15rem solid #25476899;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease-in-out;
}
  
.search-input:focus {
    border-color: #254768de;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.MuiMenu-paper {
    margin-top: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.MuiMenuItem-root {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: #254668;
    transition: background-color 0.2s ease;
}

.MuiMenuItem-root:hover {
    background-color: rgba(37, 70, 104, 0.08);
}

@media (max-width: 768px) {
    .nav-links {
        gap: 2rem;
        margin-left: 2rem;
    }

    .nav-link {
        font-size: 1.1rem;
    }

    .search-container {
        max-width: 200px;
    }
}
  